extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/some.css')

block header
  include ../pug/blocks/header.pug
  include ../pug/blocks/nav.pug

block content
  main
    // =================== SLIDER ============
    section.main-slider
      .main-slider__wrapper
        .main-slider__slide
          img.main-slider__img
      .main-slider__counter
        a(href='#').main-slider__counter-item
        a(href='#').main-slider__counter-item
        a(href='#').main-slider__counter-item.main-slider__counter-item--active
        a(href='#').main-slider__counter-item
        a(href='#').main-slider__counter-item
      a(href="#").main-slider__arrow.main-slider__arrow--left
      a(href="#").main-slider__arrow.main-slider__arrow--right
    -;//
    // =================== SERVICES ============
    section.services
      h2.section__head Our Services
      .services__wrapper
        -var services_arr=[["A","Web Design","Serve an optimised version of the theme to your visitors on tablet and mobile devices. Optimised for iPad and iPhone."],["B","Web Development","Serve an optimised version of the theme to your visitors on tablet and mobile devices. Optimised for iPad and iPhone."],["C","Internet Marketing","Serve an optimised version of the theme to your visitors on tablet and mobile devices. Optimised for iPad and iPhone."]];
        -var l=services_arr.length;
        -for (i=0; i<l; i++)
          article.article__wrapper
            .article__logo= services_arr[i][0]
            .article__text-wrapper
              h3.article__head= services_arr[i][1]
              p.article__text= services_arr[i][2]
        -;//
    // =================== PROJECTS ============
    section.projects
      h2.section__head Latest Projects
      .projects__slider-wrapper
        -var projects_arr=[["img/pic01.jpg","","Lorem Ipsum is simply dummy text of the printing and typesetting industry."],["img/pic02.jpg","","Lorem Ipsum is simply dummy text of the printing and typesetting industry."],["img/pic03.jpg","","Lorem Ipsum is simply dummy text of the printing and typesetting industry."]]
        each item in projects_arr
          .slide
            .slide__img-wrapper
              img.slide__img(src= item[0], alt= item[1])
            p.slide__text= item[2]
          -;
    .projects__slider-indicator
block footer
  include ../pug/blocks/footer.pug

block append page-bottom
  script(src='js/some.js')
